@font-face {
  font-family: Ivy Mode;
  font-weight: 400;
  src: url("../public/fonts/ivy-mode/IvyMode-Regular.ttf");
}

@font-face {
  font-family: Ivy Mode;
  font-weight: 600;
  src: url("../public/fonts/ivy-mode/IvyMode-SemiBold.ttf");
}


@font-face {
  font-family: Ivy Mode;
  font-weight: 700;
  src: url("../public/fonts/ivy-mode/IvyMode-Bold.ttf");
}


/* styles.css or App.css */
@font-face {
  font-family: 'TT Commons';
  src: url('/fonts/tt-commons-medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/IndieFlower-Regular.ttf') format('truetype');
}



@import "tailwindcss";

@theme {
  --font-ivy: Ivy Mode;
  --font-tt: TT-Commons, "sans-sarif";
  --font-indie: IndieFlower, "sans-sarif";
}