@font-face{
  font-family: Ivy Mode;
  font-weight: 400;
  src:url("/fonts/ivy-mode-regular.ttf");
  
}
/* styles.css or App.css */
@font-face {
  font-family: 'TT Commons';
  src: url('/fonts/tt-commons-medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@import "tailwindcss";

@theme{
  --font-ivy:Ivy-Mode,"sans-sarif";
  --font-tt:TT-Commons,"sans-sarif";
}

